{
  "include": [
    "app/**/*.js"
  ],
  "reporter": [
    "text",
    "html",
    "lcov",
    "cobertura"
  ],
  "exclude": [
    "**/node_modules/**",
    "**/test/**"
  ],
  "report-dir": "unit-test-coverage"
}